
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloock', serif; 
   
    
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #ffc1b2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #00d2ee;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
    text-shadow: 0 0 2px #000;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fff;
}


section nav .icon i{
    font-size: 18px;
    color: #00d2ee;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #fac031;
}

/*Easy Recipe*/

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .main_text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
    font-family:'Gloock', serif;
}

section .main .main_text h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family:'Gloock', serif; 
    line-height: 22px; 
    font-size: 70px;
}

section .main .main_image img{
    width: 550px;
    position: relative;
    left: 70px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    margin-left: 30px;
    bottom: 120px;
    line-height: 22px;
}


  /*Search button*/

.wrapper{
    position: left;
    top: 50%;
    left: 50%;
    transform: none;
}

.container{
    position: relative;
    padding: 20px 50px;
}

.input{
    width: 400px;
    border: 3px solid #fac031;
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #000;
}

::-webkit-input-placeholder{
    color: #00d2ee;
    font-family:'Gloock', serif;
    text-transform: inherit;
}

::-moz-placeholder{
    color: #00d2ee;
}

:-ms-input-placeholder{
    color: #00d2ee;
}

.close-btn{
    position: absolute;
    top: 20px;
    margin-left: 50px;
    cursor: pointer;
    color: #00d2ee;
    background: #ffc1b2;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}



  /*About Us*/

  .about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
  }

  .about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about .about_main .image img{
    width: 350px;
    position: relative;
    top: 15px;
  }

  .about .about_main .about_text h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family:'Gloock', serif;
  }

  .about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
  }


  .about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
  }

  /*Recipes and Menu*/

  .recipes{
    width: 100%;
    padding: 70px 0;
  }

  .recipes h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
 
  .recipes h1 span{
    color: #00d2ee;
    margin-left: 15px;
    font-family:'Gloock', serif;
  }

  .recipes h1 span ::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ffc1b2;
    display: block;
    position: relative;
    bottom: 15px;
  }

  .recipes .menu_box{
    width: 100%;
    margin: 2 auto;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px
  }

  .recipes .menu_box .menu_card{
    width: 100%;
    height: 300%;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2 2 10px rgba(0,0,0,0.2);
  }

  .recipes .menu_box .menu_card .menu_image{
    width: 350px;
    height: 245px;
    overflow: hidden;
  }

  .recipes .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    
  }

  .recipes .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
  }

  .recipes .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px; 
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
  }

  .recipes .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
  }

  .recipes .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #fac031;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
  }

  .recipes .menu_box .menu_card .small_card i:hover{
    color: #fac031;
  }

  .recipes .menu_box .menu_card .menu_info h2{
    width: 40px;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #00d2ee;
    text-shadow: 0 0 2px #000;
  }

.recipes .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
    font-size: 15px;
    font-weight: normal;
}

.recipes .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.recipes .menu_box .menu_card .menu_info .menuh3_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: beige;
    background: #00d2ee;
    padding: 4px 5px;
    margin: 0 40px;
    transition: 0.3s;
    border-radius: 50px;
}

.recipes .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}


/*footer*/

.footer{
    margin-top: 100px;
    width: 100%;
    padding: 15px 15%;
    color: #fac031;
    display: flex;
}

.footer div{
    text-align: center;
}

.col2-sm-4{
    flex-grow: 2;
}
 
.footer div h4{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 22px;
}

.col1-sm-4 a{
    display: block;
    text-decoration: none;
    color: #00d2ee;
    margin-bottom: 10px;
}

.col1-sm-4 a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

.col1-sm-4 a:hover::after{
    width: 100%;
}

.col1-sm-4 a:hover{
    color: #fac031;
}

.col3-sm-4 p{
    color: #00d2ee;
}


.col3-sm-4 p:hover::after{
    width: 100%;
}

.col3-sm-4 p:hover{
    color: #fac031;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: #ffc1b2;
    border: 2px solid #ffc1b2;
}

form button{
    background: transparent;
    border: 2px solid #ffc1b2;
    color: #00d2ee;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
   cursor: pointer;
}

.social{
    margin-top: 30px;
}

.social i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: #00d2ee;

}

.social i:hover{
    color: #fac031;
}


.container{
    position: relative;
    padding: 20px 50px;
}


/*Holidays and Events*/


section .holidays{
    width:100%;
    height: 180vh;
}


section .holidays .holidays_main h1{
    font-size: 60px;
    position: relative;
    top: -10px;
    left: 20px;
    font-family: 'Gloock', serif;
    text-align: center;
    padding-top: 20px;
}

section .holidays_main h1 span{
    margin-left: 15px;
    color: #00d2ee;
    font-family: 'Gloock', serif;
    line-height: 22px;
    font-size: 55px;
    padding: 15px;
    text-align: center;
}

section .holidays .holidays_image{
    align-items: center;
    padding-left: 85px;
}

section .holidays .holidays_image img{
    width: 800px;
    position: relative;
    left: 25px; 
    object-position: center;
    object-fit: contain;
    padding-top: -20px;
    padding-left: 50px;
}

section .holidays .holidays_text{
    text-align: center;
    padding-left: 85px;
    padding-top: 15px;
    padding-bottom: 10px;
}

section .holidays .holidays_text p{
    width: 650px;
    position: relative;
    margin: 30px 105px;
    bottom: 20px;
    line-height: 22px;
}

/*See More*/
.wrappers{
    position: left;
    top: 10px;
    left: 50px;
    transform: none;
}

.containers{
    position: relative;
    padding: 10px 5px;
}

.close-btns{
    position: absolute;
    top: 20px;
    margin-right: 50px;
    cursor: pointer;
    color: #00d2ee;
    background: #ffc1b2;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}



/*Ingredients*/

section .ingredients{
    width:100%;
    height: 190vh;
}

section .ingredients{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -300px;

}

section .ingredients .ingredients_text h1{
    font-size: 95px;
    position: relative;
    top: -110px;
    left: 20px;
    font-family: 'Gloock', serif;
    color: #fac031; 
}

section .ingredients .ingredients_image img{
    width: 850px;
    position: relative;
   align-items: center;
   
}

section .ingredients p{
    width: 650px;
    text-align: justify;
    position: relative;
    margin-left: 30px;
    bottom: 80px;
    line-height: 18px;
    padding-top: -50px;
    margin-bottom: -50px;
}


/*Expert Advice*/

section .expert{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 150px;
    bottom: 80px;

}

section .expert .expert_text h1{
    font-size: 95px;
    position: relative;
    top: -90px;
    left: 20px;
    font-family: 'Gloock', serif;
    color: #fac031;
}

section .expert p{
    width: 650px;
    text-align: justify;
    position: relative;
    margin-left: 30px;
    bottom: 50px;
    line-height: 18px;
    padding-top: 3px;
}

/*Team*/

section .team{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10px;
   
}

section .team .team_text h1{
    font-size: 95px;
    position: relative;
    
    left: 20px;
    font-family: 'Gloock', serif;
    color: #fac031;
    text-align: center;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    background-color: #ffc1b2;
   
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 50px;
    padding: 30px;
    font-size: 15px;
    border-radius: 30%;
  }

section .team p{
    width: 650px;
    text-align: justify;
    position: relative;
    margin-left: 30px;
    bottom: 50px;
    line-height: 18px;
    padding-top: 3px;
}

.close-btn{
    position: absolute;
    top: 20px;
    margin-right: 50px;
    cursor: pointer;
    color: #00d2ee;
    background: #ffc1b2;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}





/*borderline*/

/* Solid border */
hr.solid {
    border-top: 3px solid #fac031;
  }


 